@charset "utf-8";
.bg_linear { background:linear-gradient(to right,#0156e1,#409fff,#2cadfa); }
.bg_login,.bg_reg { width:1200px; height:600px; margin:0 auto; background:url(//cdnres.bianyue.cn/cmj/img/login/icon_bg_login.png) no-repeat; }
.bg_reg { width:1350px; background:url(//cdnres.bianyue.cn/cmj/img/login/icon_bg_reg.png) no-repeat 0 0 ; }
.w-login { position:relative; float:right; margin-top:93px; }
.bg_reg .w-login { margin-top:78px; }
.pc_btn,.qr_btn { display:inline-block; position:absolute; top:0; right:0; width:50px; height:50px; background:url(../assets/login/icon.png) 0 0; cursor:pointer; transition:all .2s ease-in; }
.pc_btn { background-position:-50px -50px; }
.login_box { width:320px; min-height:354px; padding:30px 40px; background:#fff; }
.login_box h3 { position:relative; z-index:2; margin-bottom:14px; font-size:18px; font-weight:400; }
.login_box h3 p a { font-size:18px; font-weight:400; }
.login_box h3>a { float:right; margin-top:4px; font-size:14px; cursor:pointer; }
.login_box h3>a:after { display:inline-block; width:9px; height:12px; background:url(../assets/login/icon.png) -130px -60px; content:""; }
.login_box h3 p a { float:none; }
.login_box h3 p a:after { background:0 0; }
.tip_error:before { display:inline-block; width:15px; height:14px; margin-right:3px; background:url(../assets/login/icon.png) -110px -75px; vertical-align:middle; content:""; }
.login_box h3 p { border-bottom:1px solid #409EFF; }
.login_box h3 p a { display:inline-block; padding:0 8px; line-height:30px; cursor:pointer; }
.login_box h3 p a.hover { background:#409EFF; color:#fff; }
.tip_error { display:block; position:absolute; top:55px; width:315px; padding:0 0 0 5px; color:#f86262; background:#fff1f1; line-height:30px; }
.reg_pc .tip_error { top:63px; }
.btn_login { width:100%; border-radius:0; }
.inp_login .el-input__inner { padding-left:35px; border-radius:0; border-color:#c9c9c9; }
.el-icon-pass:before,.el-icon-user:before { display:inline-block; content:""; width:18px; height:20px; margin:0 7px; background:url(../assets/login/icon.png) -150px -60px; vertical-align:middle; }
.bg_login .el-icon-user:before { content:""; }
.el-icon-pass:before { background-position:-170px -60px; }
.select_login .el-select .el-input { width:70px; }
.select_login .el-input-group__prepend { border-radius:0; border-color:#c9c9c9; background-color:#fff; }
.select_login .el-input--suffix .el-input__inner { padding-right:20px; padding-left:0; text-align:center; }
.select_login .el-input__inner { border-radius:0; border-color:#c9c9c9; }
.inp_yzm { overflow:hidden; }
.inp_yzm .el-input { float:left; width:184px; }
.inp_yzm .el-input__inner { border-radius:0; border-color:#c9c9c9; }
.inp_yzm .el-button--info { float:right; width:126px; border-radius:0; }
.inp_yzm .el-button--primary { float:right; width:126px; border-radius:0; }
.icon_qq,.icon_wx { display:inline-block; width:26px; height:26px; margin:0 10px 5px 0; background:url(../assets/login/icon.png) -110px 0; vertical-align:middle; }
.icon_wx { background-position:-140px 0; }
.icon_qq:hover { background-position:-110px -30px; }
.icon_wx:hover { background-position:-140px -30px; }
.qrcode .img-warpper { display:block; width:178px; height:178px; margin:30px auto 25px; border:1px solid #e9e9e9; }
.qrcode .img-warpper img { cursor:pointer; width:100%; height:100%; margin:0; }
.yun_footer { padding:75px 0 55px; line-height:28px; }
.yun_footer i { display:inline-block; width:1px; height:12px; margin:8px 10px 0; background:#999; vertical-align:top; font-size:0; }
.yun_footer_list a { margin:0 5px; }
.eye_open,.eye_close { display:inline-block; position:absolute; top:30px; right:10px; width:20px; height:20px; background:url(../assets/login/eye.svg); }
.eye_close { background-position:-20px -2px; }
.qrcode_bar { width: 280px; height: 54px; padding:8px 0;  border-radius:35px;  background: #ececea; }
.qrcode_yes,.qrcode_renew,.qrcode_tel { display: inline-block; width: 30px; height: 30px;  background: url(../assets/login/eye.svg) -40px -2px; vertical-align: middle;}
.qrcode_renew { background-position:-70px -2px; }
.qrcode_tel { background-position:-100px -2px; }
 